#add_venue_button{
    margin-left: 25px;
    border-bottom: none;
}

.venue_list_container{
    margin-left: 65px;
}

@media only screen and (max-width: 600px) {
    .venue_list_container{
        display: flex;
        justify-content: center;
    }
  }

.venue_list_city_title {
    margin-top: 20px;
}

.venue_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 3px;
    width: 350px; */
}

.venue_container:hover{
    background-color: antiquewhite;
}

.venue{
    width: 120px;
}

.location {
    width: 85px;
}

.venue_edit {
    width: 40px;
    margin: 5px;
}

.venue_delete {
    width: 55px;
}